app:
  title: Scaffolded Backstage App
  baseUrl: http://localhost:3000

backend:
  baseUrl: http://localhost:7007
  listen:
    port: 7007
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  database:
    client: pg
    connection:
      host: localhost
      port: 5432
      user: postgres
      password: postgres

  actions:
    pluginSources:
      - 'catalog'

auth:
  providers:
    guest:
      userEntityRef: user:default/bob
      ownershipEntityRefs: [group:default/devops]
      dangerouslyAllowOutsideDevelopment: false

# see https://backstage.io/docs/permissions/getting-started for more on the permission framework
permission:
  # setting this to `false` will disable permissions
  enabled: false

catalog:
  orphanStrategy: delete
  processingInterval: { minutes: 1 }
  rules:
    - allow:
        - User
        - Group
        - System
        - Component
        - Domain
        - API
        - Resource
  locations:
    - type: file
      target: ../../catalog.local-dev.yaml

aiAssistant:
  prompt:
    identity: You are Platty, the Nintex Developer Portal's AI assistant. Your mission is to help users navigate Nintex's internal tools, infrastructure, and documentation.  Your context may come from sources such as internal wikis, code repositories, technical documentation, or other structured or unstructured data.

  mcp:
    encryptionKey:
      $file: ../../platform-ndp/etc/ndp-secrets/MCP-INGESTION-ENCRYPTION-KEY
    servers:
      - name: 'microsoft_docs'
        options:
          'type': 'http'
          'url': 'https://learn.microsoft.com/api/mcp'

  storage:
    pgVector:
      chunkSize: 800
      amount: 10

  ingestion:
    schedule:
      frequency:
        days: 7
      timeout:
        hours: 6 # increase timeout to 6 hours to allow for larger ingestions (should monitor and adjust as needed)
    chunking:
      chunkSize: 1000
      chunkOverlap: 100
      maxChunkProcessingSize: 100

  embeddings:
    azureOpenAi:
      deploymentName: 'text-embedding-3-large'
      instanceName: eastus
      apiKey:
        $file: ../../platform-ndp/etc/ndp-secrets/AZURE-AI-API-KEY
      endpoint: https://eastus.api.cognitive.microsoft.com/openai/deployments/text-embedding-3-large/embeddings?api-version=2023-05-15
      openAIApiVersion: 2024-12-01-preview

  models:
    azureAi:
      apiKey:
        $file: ../../platform-ndp/etc/ndp-secrets/AZURE-AI-API-KEY
      models:
        - endpoint: https://eastus.api.cognitive.microsoft.com/openai/v1/
          modelName: gpt-5-mini
        - endpoint: https://eastus.api.cognitive.microsoft.com/openai/v1/
          modelName: DeepSeek-V3.1
        - endpoint: https://eastus.api.cognitive.microsoft.com/openai/v1/
          modelName: Phi-4-reasoning
        - endpoint: https://eastus.api.cognitive.microsoft.com/openai/v1/
          modelName: grok-4-fast-reasoning

  ingestors:
    #github:
    #  owner: 'NintexGlobal'
    #  appId:
    #    $file: ../../platform-ndp/etc/ndp-secrets/AUTH-GITHUB-APP-ID
    #  privateKey:
    #    $file: ../../platform-ndp/etc/ndp-secrets/AUTH-GITHUB-PRIVATE-KEY
    #  installationId:
    #    $file: ../../platform-ndp/etc/ndp-secrets/AUTH-GITHUB-INSTALLATION-ID
    #  fileTypes:
    #    - '.md'
    azureDevOps:
      organization: 'Nintex'
      project: 'nintex'
      token:
        $file: ../../platform-ndp/etc/ndp-secrets/ADO-INTEGRATION-PAT
      resourceTypes:
        #- 'repository'
        - 'wiki'
      fileTypes:
        - '.md'

      wikis:
        - name: 'Nintex.wiki'
