name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        uses: backstage/actions/yarn-install@v0.6.17
        with:
          cache-prefix: ${{ runner.os }}-v22.x
      - run: yarn commitlint --from=origin/main
        if: github.actor != 'dependabot[bot]'
      - run: yarn lint:all
      - run: yarn dedupe --check
      - run: yarn prettier:check
      - run: yarn fix --check
      - run: yarn tsc
      - run: yarn build:all

  tests:
    name: Run Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Install dependencies
        uses: backstage/actions/yarn-install@v0.6.17
        with:
          cache-prefix: ${{ runner.os }}-v${{ matrix.node-version }}
      - run: yarn test:all

  check-changeset:
    runs-on: ubuntu-latest
    if: |
      github.actor != 'dependabot[bot]' &&
      github.actor != 'github-actions[bot]'
    steps:
      - uses: actions/checkout@v4
        with:
          node-version: 22.x
          cache: 'yarn'

      - name: Install dependencies
        uses: backstage/actions/yarn-install@v0.6.17
        with:
          cache-prefix: ${{ runner.os }}-v22.x
      - name: Validate changeset exists
        run: |
          if [ $(ls .changeset/*.md 2>/dev/null | wc -l) -eq 0 ]; then
            echo "No changeset found! Please add a changeset."
            exit 1
          else
            echo "Changeset found."
          fi
